* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//heade: imagen de la pokedex, titulo y nav de los tipos e input para filtrar pokemons
header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imagenPokedex {
  margin: 0 auto;
  height: 15rem;
  width: 25rem;
}
//nav de tipos
.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  &-list {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    &-button {
      padding: 0.5rem;
      border-radius: 100vmax; //buscado en internet para mejorar el borde
      text-transform: uppercase;
      font-weight: 800;
      border: none;
      box-shadow: 0 0 1rem rgba(3, 3, 3, 0.692);
      position: relative;
      &__todos {
        background-color: white;
      }
      &__fire {
        background-color: rgb(255, 94, 0);
      }
      &__water {
        background-color: rgb(88, 88, 240);
      }
      &__grass {
        background-color: rgb(18, 192, 18);
      }
      &__normal {
        background-color: rgb(99, 139, 93);
      }
      &__electric {
        background-color: yellow;
      }
      &__ground {
        background-color: rgb(233, 161, 94);
      }
      &__rock {
        background-color: rgb(160, 82, 37);
      }
      &__flying {
        background-color: rgb(124, 139, 180);
      }
      &__fighting {
        background-color: rgb(223, 15, 49);
      }
      &__ghost {
        background-color: rgb(153, 85, 153);
      }
      &__poison {
        background-color: rgb(110, 10, 110);
      }
      &__dragon {
        background-color: rgb(113, 18, 168);
      }
      &__dark {
        background-color: rgb(54, 51, 51);
      }
      &__psychic {
        background-color: rgb(255, 82, 111);
      }
      &__ice {
        background-color: rgb(0, 204, 255);
      }
      &__bug {
        background-color: rgb(108, 156, 63);
      }
      &__steel {
        background-color: rgb(95, 95, 95);
      }
      &__fairy {
        background-color: rgb(255, 203, 203);
      }
    }
    &-button:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: transform 0.5s;
      animation-name: shine;
      animation-duration: 300ms;
    }
  }
}
//input Busca a tu pokemon:
#searchYourPokemon {
  border-radius: 100vmax;
  border: none;
  padding: 0.5rem;
  margin: 2rem;
  text-align: center;
  width: 20rem;
  position: relative;
  z-index: 1;
}
#searchYourPokemon:hover {
  cursor: pointer;
}

//body con todos las targetas de pokemons
body {
  text-align: center;
  margin: 0;
  font-family: rubik;
  color: rgb(11, 11, 73);
  min-height: 100vh;
  background-color: #7be9da;
}
.container {
  padding: 40px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.pokedexTitle {
  text-transform: uppercase;
  font-size: 50px;
  margin-top: 2rem;
  height: 10rem;
  color: white(245, 232, 232);
  background-image: url("https://www.gematsu.com/wp-content/uploads/2018/05/zp-47920_Pokemon-Lets-Go-Pikachu-and-Lets-Go-Eevee_2018_05-29-18_016.png");
  border-style: blur(10px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100vmax;
}
#pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
  }

//targetas de pokemon
.card {
  list-style: none;
  padding: 40px;
  background-color: transparent;
  //   color: white;
  text-align: center;
  box-shadow: 0 0 50px 15px #2c41a0;
  border-radius: 5%;
  height: 20rem;
  width: 20rem;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card:hover .card-inner {
  transform: rotateY(180deg);
  transition-duration: 1000ms;
}
.card-front {
  background-color: transparent;
  // color: white;
  transform: rotateY(0deg);
}
.card-back {
  background-color: transparent;
  // color: white;
  transform: rotateY(180deg);
}
.card-title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}
.card-subtitle {
  text-transform: uppercase;
  //   color: white;
  margin-top: 5px;
  font-weight: bold;
}
.card-image {
  height: 130px;
}
.card-id {
  font-size: 25px;
  font-weight: bolder;
}
.card-description {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  padding: 5px;
  text-align: center;
  font-size: 8px;
  transition: opacity 0.5s;
  opacity: 0;
  text-transform: uppercase;
  white-space: pre-line;
}
.card-backImage {
  height: 120px;
  padding-bottom: 20px;
}
.card:hover .card-description {
  opacity: 1;
  font-size: 20px;
}

//fondo animado:
.bubbles {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #627fcf;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #3d6fb950, 0 0 50px #3f9db3, 0 0 100px #4fc3dc;
  animation: animate 20s linear infinite;
  animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even) {
  background-color: #27e456;
  box-shadow: 0 0 0 10px #2bf89988, 0 0 50px #098857, 0 0 100px #ff0c61;
}

//KEYFRAMES
//hacer relucir el boton:
@keyframes shine {
    0% {
      background: linear-gradient(
        30deg,
        hsl(260, 85%, 95%) 0%,
        hsl(260, 90%, 40%) 25%
      );
    }
  
    25% {
      background: linear-gradient(
        30deg,
        hsl(260, 90%, 40%) 0%,
        hsl(260, 85%, 95%) 25%,
        hsl(260, 90%, 40%) 50%
      );
    }
  
    50% {
      background: linear-gradient(
        30deg,
        hsl(260, 90%, 40%) 0%,
        hsl(260, 85%, 95%) 50%,
        hsl(260, 90%, 40%) 75%
      );
    }
  
    75% {
      background: linear-gradient(
        30deg,
        hsl(260, 90%, 40%) 0%,
        hsl(260, 85%, 95%) 75%,
        hsl(260, 90%, 40%) 100%
      );
    }
  
    100% {
      background: linear-gradient(
        30deg,
        hsl(260, 90%, 40%) 0%,
        hsl(260, 85%, 95%) 100%
      );
    }
  }
@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
    transform-origin: bottom;
  }
  100% {
    transform: translateY(calc(-100vh + 100%)) scale(1);
    transform-origin: bottom;
  }
}
